@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  @font-face {
    font-family: chaparral-pro;
    src: url(/font/ChaparralPro-Bold.otf);
  }
}

.font-logo {
  font-family: chaparral-pro;
}

.bg-front {
  background-image: url('../img/front.jpg');
  background-repeat: no-repeat;
  background-size: cover;

}
.bg-cont {
  background-image: url('../img/rodzinny1.jpg');
  background-repeat: no-repeat;
  background-size: cover;

}

.btn {
  @apply font-bold border-4 p-4 rounded-full duration-200 ;
}


/* HAMBURGER MENU */

.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  content: '';
  position: absolute;
  width: 24px;
  height: 3px;
  top: 0;
  left: 0;
  background: #000;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
  background: #000;
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
  position: fixed;
  top: 50px;
  right: 25px;
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
  background-color: #fff;
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
  background-color: #fff;
}

#galeria img {
  @apply rounded-xl p-4
}